{% extends 'base.html.twig' %}
{% block body %}
<h1>bienvenu sur notre site </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis aliquam enim laborum, labore voluptates accusamus
    aspernatur dignissimos, expedita veniam, dicta iste possimus quibusdam voluptatum vel officia quisquam facere dolore
    vitae cupiditate blanditiis mollitia sit! Necessitatibus ipsam quod placeat maxime sed!</p>
<p>A alias doloribus aspernatur. Dolores, eius eum. Eveniet hic provident dolores asperiores? Molestias porro accusamus
    ullam magnam earum temporibus eum praesentium dolorem quam aut voluptatem, asperiores, dicta aliquid aspernatur
    quaerat ea rem optio suscipit tenetur assumenda alias modi obcaecati? Nostrum.</p>
{% endblock %}